name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install JupyterLab
        run: python -m pip install -U "jupyterlab>=4.0.0,<5"

      - name: Install and build packages
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
          YARN_CHECKSUM_BEHAVIOR: update
        run: |
          set -eux
          jlpm install
          jlpm build

      - name: Test extension loads
        working-directory: packages/extension
        run: |
          set -eux
          python -m pip install .[test]
          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "a11y-checker.*OK"
          python -m jupyterlab.browser_check

      - name: Package the extension
        working-directory: packages/extension
        run: |
          set -eux
          pip install build
          python -m build
          pip uninstall -y "jupyterlab_a11y_checker" jupyterlab

      - name: Upload extension packages
        uses: actions/upload-artifact@v4
        with:
          name: extension-artifacts
          path: packages/extension/dist/jupyterlab_a11y_checker*
          if-no-files-found: error
